# python -m pip install pip sockets
# python -m pip install matplotlib
# python -m pip install seaborn
# python -m pip install Flask 
    # set FLASK_APP=app.py
    # set FLASK_ENV=development
    # Flask run
# python -m  pip install MetaTrader5